@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%;
    background: #f2f2f2;
    font-family: 'Gloria Hallelujah', cursive
}

#app {
    text-align: center;
}

.calculator-title {
    font-size: 30px;
    background: #f2f2f2;
    width: 400px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: #4CAF50;
}

.mainCalc {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}

.display-row input {
    width: 400px;
    background: #fff;
    border: 2px;
    border-color: black;
    color: #222;
    padding: 10px;
    text-align: right;
}

button {
    width: 100px;
    background: #ffad33;
    border: 1px solid #222;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:active {
    background: #ccc;
}

.jumbo {
    width: 313px;
}

#signature {
    width: 100%;
    text-align: center;
    font-size: 12px;
}